<!DOCTYPE html>
<html>

<head>
    <title>
        Nest
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/content/bootstrap.min.css' />
</head>

<body>
    <div class="container center-block">
        <h1>
            Nest <small>(辅助开发)</small>
        </h1>
        <ul class="list-group">
            令牌操作
            <li id='loginP' class="list-group-item">
                <a href="/login">用户登录
                    <small>(获取令牌)</small>
                </a>
            </li>
            <li class="list-group-item">
                <a href="javascript:void(0)" onclick="logout()">用户退出
                    <small>(删除令牌)</small>
                </a>
            </li>
        </ul>
        <ul class="list-group">
            应用地址
            <li class="list-group-item">
                <a href="/playground" target="_blank">Graphql管理
                    <small>(网站)</small>
                </a>
            </li>
            <li class="list-group-item">
                <a href="/v1/swagger" target="_blank">swagger接口
                    <small>(网站)</small>
                </a>
            </li>
        </ul>
        <ul class="list-group" id="headerAuth">
            Graphql Playground 客户端连接服务设置
            <!-- <li class="list-group-item" id="headerAuth">
                <p>HTTP Headers</p>
                <pre id="httpheader" style="overflow: hidden !important;"></pre>
            </li> -->
        </ul>
    </div>
    <script src="/scripts/jquery-3.5.1.min.js"></script>
    <script src="/scripts/common_extend.js"></script>
    <script type="application/javascript">
        $(document).ready(function() {
            const accessToken = localStorage.getItem('accessToken');
            const refreshToken = localStorage.getItem('refreshToken');
            if (!accessToken || !refreshToken) {
                window.location = `/login`;
            }
            rData.request('auth/profile', {}, 'GET', {
                'Authorization': 'Bearer ' + accessToken,
                'RefreshToken': refreshToken
            }, function(err, data) {
                if (err) {
                    console.error(err);
                    window.location = `/login`;
                } else {
                    if (data) {
                        //显示当前用户信息
                        $("#loginP").append(JSON.stringify({
                            name: data.username,
                            email: data.email,
                            role: data.role,
                        }));
                        const accessTokenHeaderInput = `<textarea class="form-control" rows="2" readonly>${accessToken}</textarea>`
                        const refreshTokenHeaderInput = `<textarea class="form-control" rows="2" readonly>${refreshToken}</textarea>`
                            //graphql 头信息
                        $("#headerAuth").append(accessTokenHeaderInput);
                        $("#headerAuth").append(refreshTokenHeaderInput);
                    }
                }
            })
        });

        function logout() {
            const accessToken = localStorage.getItem('accessToken');
            const refreshToken = localStorage.getItem('refreshToken');
            if (!accessToken || !refreshToken) {
                window.location = `/login`;
            }
            rData.request('auth/logout', {}, 'GET', {
                'Authorization': 'Bearer ' + accessToken,
                'RefreshToken': refreshToken
            }, function(err, data) {
                if (err) {
                    console.error(err);
                    window.location = `/login`;
                } else {
                    console.log('----退出登录', data);
                    if (data.data) {
                        // TODO: 退出登录接口
                        localStorage.removeItem("accessToken")
                        localStorage.removeItem("refreshToken")
                        window.location = `/login`;
                    }
                }
            })

        }
    </script>
</body>

</html>